html, body{
  margin: 0;
  display:flex;
  flex-direction: column;
  min-height:100vh;
  font-family:Roboto, sans-serif;
}
body > header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem 0;
  box-shadow: 0 -3px 9px #000; 
}
body > header h1{
  margin: 0;
}
header div, header nav{
  flex: 0 1 100%;
}
header nav{
  flex-basis: auto !important;
}
header nav ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-itens: center;
}
@media(min-width; 1300px){
  header div{
    flex: 0 1 75%;
  }
  header nav{
    flex: 0 1 25%;
  }
}
@media(min-width: 550px){
  body > header{
    padding 0 1rem;
  }
  header div{
    flex: 0 1 60%;
  }
  header nav{
    flex: 0 1 40%;
  }
  header nav ul li{
    justify-content: space-around;
  }
}
footer{
  background-color: #005F97;
  color: #B7D7D8;
  margin-top: auto;
  text-align: center;
}
a{
  text-decoration: none;
  color: #FF8984;
  transition: background-color 400ms linear;
}
a:hover,
a:focus{
  background-color: #204E5F !important;
}
h1{
  color: #FF8984;
}
section{
  max-width: 700px;
  margin: 0 auto;
  padding:1rem;
}
h2{
  margin-bottom:0;
}
.post-item{
  margin-bottom: 20px;
}
.post-item-date{
  margin-bottom: 20px;
  color: #666;
  font-weight: 600;
  font-size: 0.7rem;
}
.post-item-summary{
  line-height: 1.375rem;
}
article  h1{
  font-size: 2rem;
}
.pagination{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination a{
  font-size: 20px;
  border: 1px solid #005F97;
  margin: 10px;
  padding: 10px;
}
