{{ define "main" }}
  <div class="post-list">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
    {{ range $paginator.Pages }}
      <div class="post-item">
        <span class="post-item-title">
          <h2>
          <a href="{{ .RelPermalink }}">{{ .Title }} {{ if .Draft }}(DRAFT){{ end }}</a>
          </h2>
        </span>
        <span class="post-item-date">
          {{ .Date.Format (.Site.Params.dateformat | default "02 Jan 2006") }}
        </span>
        <p class="post-item-summary">
        {{ if .Description }}
        {{ .Description }}
        {{ else }}
        {{ .Summary }}
        {{ end }}
        {{ if .Truncated }}
          ... <a class="read-more-symbol" href="{{ .RelPermalink }}">➦</a>
        {{ end }}
        </p>
        </div>
     {{ end }}
  </div>
  {{ partial "pagination.html" . }}
{{ end }}
