{{ define "main" }}
<section id="main">
  <h1>{{ .Title }}</h1>
  <h4>Postado em {{ .Date.Format "Mon Jan 2, 2006" }}</h4>
  <h4>Este texto tem {{ .WordCount }} palavras e o tempo médio de leitura é 
    {{ .ReadingTime }} minuto(s) </h4>
  <div>
    <article id="content">
       {{ .Content }}
    </article>
  </div>
</section>
<aside id="meta">
    <div>
    {{ with .Params.tags }}
    <h5>Tags</h5>
    <ul id="tags">
      {{ range . }}
        <li> <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
</aside>
{{ end }}
